<div class="loading" *ngIf="loading" class="loading">
  <article aria-busy="true"></article>
</div>
<div class="content">
  <div class="trip-input">
    <form>
      <input type="text" [(ngModel)]="pointA" class="input">
      <input [(ngModel)]="pointB" class="input">
      <input [(ngModel)]="dateTimeLocal" class="input" type="datetime-local">
      <button (click)="calculateRoute(pointA ?? '', pointB ?? '', dateTimeLocal ?? '')">Check Connections</button>
    </form>
  </div>
  <div #googleMaps id="map"></div>
</div>
