#map {
  width: 100vw;
  height: calc(100vh - 200px - 2em);
  background: lightgray;
}

.map-full {
  position: absolute !important;
  top: 0 !important;
  height: 52vh !important;
}

.trip-input {
  width: 100vw;
  height: calc(200px + 2em);
  animation: appear 200ms;
  animation-fill-mode: forwards;
  border-radius: 0 0 12px 12px;

  .from, .to {
    display: flex;

    .icon {
      height: 50px;
      width: auto;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .crosshair {
        margin: 0 12px 0 12px;
      }
    }
  }

  .input, .button {
    margin: 0;
    width: 100%;
  }

  .button {
    margin: 1em 0;
  }

  .show {
    height: 2.6em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 999;

    .show-inner {
      height: 100%;
      width: 100%;
      background: var(--primary);
      padding: .4em;

      .show-inner-text {
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.hidden {
  animation: hide 200ms;
  animation-fill-mode: forwards;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--card-background-color);
  z-index: 999;

  .loading-article {
    margin-top: 50vh;
    transform: translateY(-50%);
  }

  .loading-text {
    width: 100vw;
    text-align: center;
    transform: translateY(-44px);
  }
}

.back {
  position: absolute;
  background-color: var(--card-background-color);
  height: 32px;
  width: 32px;
  top: 1em;
  left: 1em;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);

  &:hover {
    background-color: var(--card-border-color);
  }

  .icon {
    height: 24px;
    width: 24px;
    transform: translateY(-2px);
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
