<div class="loading" *ngIf="loading" class="loading">
  <article aria-busy="true" class="loading-article"></article>
  <p class="loading-text">Loading...</p>
</div>
<div class="content">
  <div class="trip-input" [ngClass]="{'hidden': dropdownHidden}">
    <form>
      <input type="text" [(ngModel)]="pointA" name="pointA" class="input" placeholder="Origin">
      <input [(ngModel)]="pointB" name="pointB" class="input" placeholder="Destination">
      <input [(ngModel)]="dateTimeLocal" name="dateTimeLocal" class="input" type="datetime-local" placeholder="Departure Date">
      <button (click)="calculateRoute(pointA ?? '', pointB ?? '', dateTimeLocal)" class="button">Check Connections</button>
    </form>
  </div>
  <div #googleMaps id="map" [ngClass]="{'map-full': state === 'ROUTE_FOUND'}"></div>
  <app-route-summary *ngIf="state === 'ROUTE_FOUND'" [from]="from" [to]="to" [drivingStatistics]="carStatistics" [transitStatistics]="transitStatistics"></app-route-summary>
</div>
