.summary {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  background: var(--card-background-color);
  border-radius: 12px 12px 0 0;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  overflow-y: scroll;

  .header {
    width: 100%;
    padding: 1em;

    .header-title {
      text-align: center;
      width: 100%;
    }
  }
}
